# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/Transactions/.vs/Transactions
/Transactions/ReadTransactionsWallets.Application/bin/Debug/net8.0
/Transactions/ReadTransactionsWallets.Application/obj
/Transactions/ReadTransactionsWallets.Domain/bin/Debug/net8.0
/Transactions/ReadTransactionsWallets.Domain/obj
/Transactions/ReadTransactionsWallets.External/bin/Debug/net8.0
/Transactions/ReadTransactionsWallets.External/obj
/Transactions/ReadTransactionsWallets.Infra.Data/bin/Debug/net8.0
/Transactions/ReadTransactionsWallets.Infra.Data/obj
/Transactions/ReadTransactionsWallets.Service/bin/Debug/net8.0
/Transactions/ReadTransactionsWallets.Service/obj
/Transactions/ReadTransactionsWallets.Utils/bin/Debug/net8.0
/Transactions/ReadTransactionsWallets.Utils/obj
/Transactions/ReadTransactionsWalletsApp/bin/Debug/net8.0
/Transactions/ReadTransactionsWalletsApp/obj
/Transactions/.vs/ProjectEvaluation/transactions.metadata.v7.bin
/Transactions/.vs/ProjectEvaluation
/Transactions/.vs/Bots
/Transactions/.vs
/Transactions/SyncronizationBot.Application/bin/Debug/net8.0
/Transactions/SyncronizationBot.Application/obj
/Transactions/SyncronizationBot.Domain/bin/Debug/net8.0
/Transactions/SyncronizationBot.Domain/obj
/Transactions/SyncronizationBot.External/bin/Debug/net8.0
/Transactions/SyncronizationBot.External/obj
/Transactions/SyncronizationBot.Infra.Data/bin/Debug/net8.0
/Transactions/SyncronizationBot.Infra.Data/obj
/Transactions/SyncronizationBot.Service/bin/Debug/net8.0
/Transactions/SyncronizationBot.Service/obj
/Transactions/SyncronizationBot.Utils/bin/Debug/net8.0
/Transactions/SyncronizationBot.Utils/obj
/Transactions/SyncronizationBotApp/bin/Debug/net8.0
/Transactions/SyncronizationBotApp/obj
